@import url('https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&subset=latin');

*{
	margin: 0;
	padding: 0;
}

html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

.ui.stackable.large.menu{
  background-color: #58a8e8;

}


.ui.container a{
	text-decoration: none;
	margin: 5rem;
    color: black;
    font-weight: 400;
}

/*.ui.segment.button:hover{
	background-color: green;
	color: black;
}
*/
.ui .segment .left .floated .button{
	margin-top: 5rem;
}

.ui.container.header{
	color: black;


}
.background {
		background: url(http://tpe-aerodynamisme-aeronautique.e-monsite.com/medias/album/wallpaper-avion-dans-le-ciel.jpg) no-repeat center center; 

    background-size: cover;
}

.ui.header{
	text-align: center;
	margin-top: 2rem;
}



h4{
	font-size: 1.5rem;
    margin-top: -2rem;
}

.ui.inverted.segment,
.ui.primary.inverted.segment {
  background-color: #58a8e8;
  
}

.ui.inverted.link.item>a{
	color: black;
}

footer{
	background-color: black;
	text-align: center;
	color: white;
	padding: 0.3rem;
	margin-left: -5rem;
	margin-right:-5rem;
	margin-bottom: -5rem;
}



	